.clasificador__container { 
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.clasificador__description {
  margin-top: 45px;
}

.clasificador__description div {
  display: flex;
  justify-content: center;
}

.clasificador__select-image {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.clasificador__select-image div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clasificador__select-image img,
.result_classification-image img {
  width: 220px;
  height: 220px;
}

.clasificador__select-image figure {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.clasificador__select-image .delete-button {
  position: absolute;
  bottom: 3px;
  right: 3px;
  background-color: #8bc34a;
}

.clasificador__select-image .delete-button:hover {
  background-color: #8bc34acc;
}

.clasificador__select-image .default-image {
  opacity: 0.5;
}

.default-image {
  opacity: 0.4;
}

.classification-result button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 16px;
  text-decoration: underline;
}

.classification-result button:hover {
  background-color: #8bc34a;
}

.result_classification-image {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.result_classification-image {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  margin-left: 20px;
}